:root{
    --blue-color: #05386B;
    --dark-green: #379683;
    --medium-green: #5CDB95;
    --light-green: #8EE4AF;
    --white-color: #EDF5E1;
    --header-color: #05386B;
    --header-border-color: dimgray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    background-color: var(--medium-green);
    font-family: 'Kanit', sans-serif;
}

.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.heading h2{
    font-size: 2.5rem;
    color: var(--blue-color);
}

.heading a {
    position: absolute;
    right: 3%;
    text-decoration: none;
    text-align: center;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 0.5rem;
    width: 5rem;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 10px;
}

.heading a:hover{
    color: var(--medium-green);
    transition: ease-in-out 0.1s;
}

main{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    height: 100%;
}

/*Start of question creator*/
#mainContainerCreate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--blue-color);
    margin-top: 2rem;
    padding-top: 2rem;
    border-radius: 1.5rem;
    width: 90%;
    height: 100%;
    
}

#mainContainerCreate h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--white-color);
  
}

#mainContainerCreate label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;

}

#mainContainerCreate label p{
    text-align: center;
    font-size: 1.5rem;
    color: var(--white-color);
}

#mainContainerCreate label input, #mainContainerCreate select{
    font-size: 1.5rem;
    outline: none;
    border-radius: 1rem;
}
#mainContainerCreate label input{
    padding-left: 0.4rem;
}

#mainContainerCreate option{
    font-size: 1.4rem;
    text-align: center;
}

#correctAnswerPointsOption{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

#correctAnswerPointsOption label {
    width: 40%;
}

#saveButton{
    background-color: var(--medium-green);
    width: 15%;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
   
}

#saveButton:hover{
    background-color: var(--light-green);
}

/*End of question creator*/

/*Start of question editor*/

#mainContainerEdit{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 2rem;
    padding-top: 2rem;
    border-radius: 1.5rem;
    width: 90%;
    height: 100%;
}

#top{
    background-color: var(--blue-color);
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 90%;
    margin-top: 2rem;
}

#top button{
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: var(--medium-green);
}

#top button:hover {
    background-color: var(--light-green);
}


#formContainer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainContainerEdit h2{
    position: absolute;
    font-size: 2rem;
    top: 8.5rem;
}

#mainContainerEdit label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

#mainContainerEdit label p{
    text-align: center;
    font-size: 1.5rem;
}

#mainContainerEdit label input, #mainContainerEdit select{
    font-size: 1.5rem;
    outline: none;
    border-radius: 1rem;
}
#mainContainerEdit label input{
    padding-left: 0.2rem;
}

#mainContainerEdit option{
    font-size: 1.4rem;
    text-align: center;
}


.itemContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answersContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainContainerEdit label input{
    padding-left: 0.4rem;
}

.EditAnswersContainer
{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#correctAnswerPointsOption{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

#correctAnswerPointsOption label {
    width: 40%;
}

#bottom{
    background-color: var(--blue-color);
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#bottom button{
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--medium-green);
    border: none;
    width: 10rem;
}

#bottom button:hover{
    background-color: var(--light-green);
    
}

#info
{
    font-size: 1.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*End of question editor*/


