:root{
    --blue-color: #05386B;
    --dark-green: #379683;
    --medium-green: #5CDB95;
    --light-green: #8EE4AF;
    --white-color: #EDF5E1;
    --header-color: #05386B;
    --header-border-color: dimgray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    background-color: var(--medium-green);
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--medium-green);
}

.heading h2{
    color: var(--blue-color);
    font-size: 2.5rem;
    
}

.heading a {
    position: absolute;
    right: 3%;
    text-decoration: none;
    text-align: center;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 0.5rem;
    width: 5rem;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 10px;
}

.heading a:hover{
    color: var(--medium-green);
    transition: ease-in-out 0.1s;
}

main{
    display: flex;
    justify-content: center;
    height: 80%;
}

/*Start of welcome message and button*/

#mainContainerMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10rem;
    background-color: var(--blue-color);
    margin-top: 2rem;
    border-radius: 1.5rem;
    width: 90%;
    height: 100%;
}

#mainContainerMessage h1{
    font-size: 4rem;
    color: var(--white-color); 

}

#mainContainerMessage button{
    background-color: var(--medium-green);
    width: 15%;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}

#mainContainerMessage button:hover{
    background-color: var(--light-green);
}

/*End of welcome message and button*/

/*Start of the question container*/


#mainContainerQuestion{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue-color);
    margin-top: 2rem;
    border-radius: 1.5rem;
    width: 90%;
    height: 100%;
}

#mainContainerQuestion #top{
    display: flex;
    align-items: center;
    padding-top: 1rem;   
    color: var(--white-color); 
    
}

#top h1{
    font-size: 2rem;
}

#top p {
    position: absolute;
    right: 7%;
    font-size: 3rem;
}

#top p span {
    font-weight: bold;
}

#questionForm{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

#mainContainerQuestion .container{
    font-size: 2rem;
    background-color: var(--medium-green);
    border-radius: 1rem;
    width: 90%;
    height: 3rem;
    display: flex;
}

#mainContainerQuestion .container:hover{
    background-color: var(--light-green);
    cursor: pointer;
}

#mainContainerQuestion .container p{
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    
}

.container input{
    margin-left: 1rem;
    accent-color: var(--dark-green);
    width: 1.2rem;
}


#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

#bottom p {
    font-size: 1.5rem;
    color: white;
}

#bottom p span{
    font-weight: bold;
}

#nextFinish{
    background-color: var(--medium-green);
    border: none;
    width: 5rem;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.1rem;
}


#nextFinish:hover{
    background-color: rgb(157, 253, 253);
    cursor: pointer;
}

/*End of the question container*/


/*Start of the results container*/

#mainContainerResult{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10rem;
    background-color: var(--blue-color);
    margin-top: 4rem;
    border-radius: 1.5rem;
    width: 90%;
    height: 100%;
}

#score{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#score ul{
    list-style-type: none;
    font-size: 2rem;
    text-align: center;
    color: var(--white-color);
}

#score ul::first-line{
    font-weight: bold;
}


#mainContainerResult h1{
    font-size: 4rem;
    color: var(--white-color);
}

#buttonContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}


#mainContainerResult div button{
    background-color: var(--medium-green);
    width: 15%;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}

#mainContainerResult div button:hover{
   background-color: var(--light-green);
}

/*End of the results container */